[submodule "rbx_dom_lua/modules/testez"]
	path = rbx_dom_lua/modules/testez
	url = https://github.com/Roblox/testez.git
[submodule "rbx-test-files"]
	path = test-files
	url = https://github.com/FilamentGames/rbx-test-files.git
